.webmap{
    height: 100vh;
}

.graphic:hover{
    opacity: 0.6;
    z-index: 1000;
}

.popup{
    height: 700px;
}

.class{
    width: 430px;
    height: 400px;
    background-image: url('../../images/meteora.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}