.overlay {
    position: fixed; 
    width: 100%; 
    height: 100%; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(129, 129, 129, 0.852); 
    z-index: 2; 
    cursor: pointer; 
}

.inputwrapper {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 360px;
    margin: 0 auto;
    top: 48%;
    left: 8%;
    transform: translate(-50%, -50%);
    align-items: flex-end;
}

.img{
    width: 30px;
    height: 26px;
    padding-bottom: 3px;
    z-index: 10;
    overflow: hidden;
}

.searchimg{
    width: 30px;
    height: 30px;
    transform: scaleX(-1);
    transform: translateX(35px);
    z-index: 10;
    height: 30px;
    margin-right: 40px;
    padding-bottom: 3px;
}

.inputhighlight {
    font-size: 30px;
    user-select: none;
    line-height: 70px;
    border-top: 3px solid white;
    position: absolute;
    left: 0;
    bottom: 0;
    max-width: 83%;
    height: 0;
    color: transparent;
    font-family: Roboto Slab, sans-serif;
    overflow: hidden;
}

input {
    width: 110%;
    min-width: 100%;
    padding: 0;
    border-radius: 0;
    line-height: 40px;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.752);
    font-size: 30px;
    border: none;
    outline: none;
    font-family: Roboto Slab, sans-serif;
}

input:focus + .inputhighlight {
    border-top: 2px solid #fbc91b;
}

input:focus::placeholder {
    color: transparent;
  }

::placeholder { 
    color: rgba(255, 255, 255, 0.752);
    opacity: 1; 
    padding-left: 10px;
  }
