html,
body,
#viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background: rgba(50, 50, 50);
}
.widgetcenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.locatecenter{
  position: absolute;
  top: 50%;
  left: calc(((100vw - 240px) / 2) + 260px);
  transform: translate(-50%, -50%);
}

.overlay {
  background-color: rgba(113, 108, 108, 0.7);
}

.nopointer{
  pointer-events: none;
}

.esri .esri-view-surface--inset-outline:focus::after {
  outline: none !important;
}

.zindex{
  z-index: 20;
  filter: saturate(10);
}